* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #E3F2FD;
}

h1 {
	color: #fff;
	padding: 18px 0 ;
	text-align: center;
	font-size: 1.75rem;
	background: #5372F0;
}

.container {
	display: flex;
	gap: 35px;
	padding: 30px;
}

.weather-input {
	width: 550px;
}

.weather-input input {
	width: 100%;
	height: 46px;
	outline: none;
	padding: 0 15px;
}

